#root main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	position: relative;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	background-color: #7754da;

	font-family: "Lobster";
	font-size: 2rem;
	color: #000000;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;

	width: 330px;
	height: 900px;
	background-color: #7754da;
}

.app .card {
	position: absolute;
	top: 148px;

	width: 330px;
	height: 600px;
	border-radius: 50px;
	background-color: #ffffff;

	box-shadow: 0px 12px 25px #00000040;
}

.app .cupcakes-image {
	position: absolute;
	left: 0;
	top: 0;

	width: 330px;
	height: 230px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}

.app .product-wrapper {
	display: block;
	justify-content: flex-start;

	position: absolute;
	top: 250px;

	width: 270px;
	height: 200px;
	margin: 30px;
}

.app .product-title {
	margin-bottom: 20px;

	font-family: "Lobster";
	font-size: 2rem;
	text-align: left;
	color: #000000;
}

.app .product-description {
	font-family: "Jura";
	font-size: 1rem;
	text-align: left;
	color: #000000;
}

.app .button-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	left: 30px;
	top: 512px;

	width: 270px;
	height: 58px;
	border-radius: 20px;
	background-color: #da55bd;

	cursor: pointer;
}

.app .button-text {
	position: absolute;

	font-family: "Jura";
	font-size: 1.5rem;
	color: #ffffff;

	line-height: normal;
	cursor: pointer;
}

.app .logo {
	position: absolute;
	left: 45px;
	top: 90px;

	height: 45px;

	cursor: pointer;
}

.footer-icon {
	display: block;

	padding: 7px;
	border-radius: 10px;

	cursor: pointer;
}

.footer-text {
	display: block;

	padding: 5px 10px;
	border-radius: 20px;

	font-family: "Jura";
	font-size: 0.8rem;
	color: #ffffff;

	cursor: pointer;
}

.desserts-wrapper {
	display: block;

	border-radius: 20px;
	background-color: #da55bd;

	cursor: pointer;
}

.app .footer-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: normal;
	align-items: center;
	justify-content: space-around;

	position: absolute;
	bottom: 0;

	width: 330px;
	padding-bottom: 30px;
	padding-top: 50px;
}