#root main {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	background-color: #7754da;
	color: #000000;

	font-family: "Lobster";
	font-size: 2rem;
}

.wrapper {
	background-color: #7754da;
	height: 896px;
	position: relative;
	width: 414px;
  }
  
  .wrapper .active-page {
	background-color: #da54bc;
	border-radius: 200px;
	height: 16px;
	left: 163px;
	position: absolute;
	top: 844px;
	width: 78px;
  }
  
  .wrapper .desserts-text {
	color: #ffffff;
	font-family: "Jura";
	font-size: 11px;
	font-weight: 700;
	height: 13px;
	left: 10px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 0;
	white-space: nowrap;
  }
  
  .wrapper .card {
	background-color: #ffffff;
	border-radius: 50px;
	box-shadow: 0px 12px 25px #00000040;
	height: 600px;
	left: 42px;
	position: absolute;
	top: 148px;
	width: 330px;
  }
  
  .wrapper .cupcakes-image {
	height: 230px;
	left: 0;
	position: absolute;
	top: 0;
	width: 330px;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
  }

  .wrapper .product-wrapper {
	position: absolute;
	width: 270px;
	height: 200px;
	top: 250px;
	display: block;
	justify-content: flex-start;
	margin: 30px;
  }
  
  .wrapper .product-title {
	color: #000000;
	font-family: "Lobster";
	font-size: 2rem;
	width: 270px;
	margin-bottom: 20px;
	text-align: left;
  }
  
  .wrapper .product-description {
	color: #000000;
	font-family: "Jura";
	font-size: 1rem;
	text-align: left;
	width: 270px;
  }
  
  .wrapper .button-wrapper {
	background-color: #da54bc;
	border-radius: 20px;
	height: 58px;
	left: 30px;
	position: absolute;
	top: 512px;
	width: 270px;
  }
  
  .wrapper .button-text {
	color: #ffffff;
	font-family: "Jura";
	font-size: 24px;
	font-weight: 700;
	left: 38px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 14px;
	white-space: nowrap;
  }
  
  .wrapper .logo {
	height: 45px !important;
	left: 88px !important;
	position: absolute !important;
	top: 90px !important;
	width: 143px !important;
  }
  
  .wrapper .soups-text {
	color: #ffffff;
	font-family: "Jura";
	font-size: 11px;
	font-weight: 700;
	height: 13px;
	left: 97px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 844px;
	white-space: nowrap;
  }
  
  .wrapper .pet-food-text {
	color: #ffffff;
	font-family: "Jura";
	font-size: 11px;
	font-weight: 700;
	height: 13px;
	left: 264px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 844px;
	white-space: nowrap;
  }
  
  .wrapper .profile-icon {
	height: 23px;
	left: 51px;
	position: absolute;
	top: 840px;
	width: 23px;
  }
  
  .wrapper .cart-icon {
	height: 17px;
	left: 341px;
	position: absolute;
	top: 842px;
	width: 18px;
  }
  